.bundle
.byebug_history
.env
.yarn-integrity
.idea
.DS_Store

config/master.key
config/locales/phraseapp
!config/locales/phraseapp/en.yml
!config/locales/phraseapp/market_categories.en.yml
log/*
node_modules
storage/*
tmp/*
public/assets
public/packs
public/packs-test

Procfile

tags
yarn-debug.log*
yarn-error.log

!log/.keep
!storage/.keep
!tmp/.keep
docker-compose.yml
