version: '3.1'

volumes:
  bundle:
  postgres:
  redis:
  mongo:

services:

  db:
    image: postgres:10.3-alpine
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:3.2-alpine
    volumes:
      - redis:/data

  mongo:
    image: mongo:3.6
    restart: always
    volumes:
      - mongo:/data/db

  web:
    image: arcanebet/arcanebet:dev
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    stdin_open: true
    tty: true
    env_file:
      - .env
    volumes:
      - .:/arcanebet
      - bundle:/usr/local/bundle
    ports:
      - "3000:3000"
    depends_on:
      - db

  worker:
    image: arcanebet/arcanebet:dev
    command: bundle exec sidekiq
    stdin_open: true
    tty: true
    env_file:
      - .env
    volumes:
      - .:/arcanebet
      - bundle:/usr/local/bundle
    depends_on:
      - db
      - redis

  listener:
    image: arcanebet/arcanebet:dev
    command: rake sneakers:run
    stdin_open: true
    tty: true
    env_file:
      - .env
    environment:
      - WORKERS=Radar::UnifiedOdds
    volumes:
      - .:/arcanebet
      - bundle:/usr/local/bundle
    depends_on:
      - db
