@import "~bootstrap/scss/bootstrap";
@import "~noty/src/noty";
@import "~noty/src/themes/mint";
@import '~select2/dist/css/select2.min';

body {
  &[data-controller="dashboards"] {
    .container {
      max-width: 100%;
    }
  }
}

.table {
  &.vertical-with-labels {
    tr {
      td, th {
        &:first-child {
          width: 10em;
          min-width: 10em;
          max-width: 10em;
          word-break: break-all;
        }
      }
    }
  }
}
