%h1.display-4
  = t('entities.bets.other')

= render 'search',
          filter: @filter,
          search_path: bets_path,
          excluded_columns: BetsFilter::EXCLUDED_COLUMNS[:bets]
= render 'table',
          filter: @filter,
          excluded_columns: BetsFilter::EXCLUDED_COLUMNS[:bets]

= paginate @filter.bets
