%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to 'ArcaneBet', root_path, class: 'navbar-brand'
  %button.navbar-toggler{ 'aria-controls': 'navbar-content',
                          'aria-expanded': 'false',
                          'aria-label': 'Toggle navigation',
                          'data-target': '#navbar-content',
                          'data-toggle': 'collapse',
                          type: 'button' }
    %span.navbar-toggler-icon
  #navbar-content.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link.active{ href: '#'} Esports
      %li.nav-item
        %a.nav-link{ href: '#'} Live
      %li.nav-item
        %a.nav-link{ href: '#'} Outrights
      %li.nav-item
        %a.nav-link{ href: '#'} Sports
      %li.nav-item
        %a.nav-link{ href: '#'} Live Casino
    = render 'shared/authentication_links'
