.accordion#limits-accordion
  - limits.each do |item|
    - if item[:title]
      = render 'customers/betting_limits_accordion_item',
               title: item[:title],
               limit: item[:limit]
