= card class: 'mb-4 global-limit', header: t(:global_customer_betting_limit) do
  = render 'customers/betting_limit_form', class_prefix: 'global-betting-limit', limit: @customer_limits.select { |el| el[:title].nil? }.first[:limit]

= card class: 'mb-4 limits-by-sport', header: t(:customer_betting_limits_by_sport) do
  = render 'customers/betting_limits_accordion_wrapper'
