%ul.list-group.navigation
  = link_to t('navigation.customer.account'),
            @customer,
            class: 'list-group-item list-group-item-action',
            'data-target-action': :show
  = link_to t('navigation.customer.account_management'),
            account_management_customer_path(@customer),
            class: 'list-group-item list-group-item-action',
            'data-target-action': :account_management
  = link_to t('navigation.customer.activity'),
            activity_customer_path(@customer),
            class: 'list-group-item list-group-item-action',
            'data-target-action': :activity
  = link_to t('navigation.customer.notes'),
            notes_customer_path(@customer),
            class: 'list-group-item list-group-item-action',
            'data-target-action': :notes
