= card header: t('actions.reset_password'), class: 'contact-information' do
  .text-right
    %button.btn.btn-danger.reset_password{ reset_password_link_data(customer) }
      = t('reset_password_to_default')

- content_for :js do
  = javascript_pack_tag 'customers/password_reset', 'data-turbolinks-track': 'reload'
