= card header: t('actions.reset_password'), class: 'contact-information' do
  %div.text-right
    %button.btn.btn-danger.reset_password{ data: { endpoint: reset_password_to_default_customer_path(@customer),
                                           confirmation: t('messages.reset_password_confirmation', customer_name: @customer.full_name),
                                           success_message: t('messages.reset_password_success'),
                                           error_message: t('messages.reset_password_error') } }= t('reset_password_to_default')

- content_for :js do
  = javascript_pack_tag 'customers/password_reset', 'data-turbolinks-track': 'reload'
