= card header: t(:reset_password), class: 'contact-information' do
  %div.text-right
    %button.btn.btn-danger.reset_password{ data: { endpoint: reset_password_to_default_customer_path(@customer),
    message: t('messages.reset_password_confirmation', customer_name: @customer.full_name) } }= t(:reset_to_default_password)

- content_for :js do
  = javascript_pack_tag 'customers/password_reset', 'data-turbolinks-track': 'reload'
