- content_for :page_content do
  .mt-4.mb-4= render 'customers/betting_limits',
                      global_limit: @global_limit,
                      limits_by_sport: @limits_by_sport

- content_for :js do
  = javascript_pack_tag 'customers/navigation_links'

= render 'customers/base_template', customer: @customer, note: @note,
  customer_notes_widget: @customer_notes_widget
