= render 'customers/heading', customer: @customer

.row
  .col-md-3
    .mt-4= render 'customers/navigation', customer: @customer
  .col-md-9
    .mt-4.mb-4= render 'customers/verification', customer: @customer
    .mt-4.mb-4= render 'customers/documents', customer: @customer
