= render 'customers/heading', customer: @customer

.row
  .col-md-3
    .mt-4= render 'customers/navigation', customer: @customer,
                                          note: @note,
                                          customer_notes: @customer_notes_widget
  .col-md-9
    .mt-4.mb-4= render 'customers/documents_history'
