- content_for :page_content do
  .mt-4.mb-4= render 'customers/documents_history'

= render 'customers/base_template', customer: @customer, note: @note,
  customer_notes_widget: @customer_notes_widget
