default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch('DB_POOL_SIZE') { 20 } %>

local: &local
  <<: *default
  host: <%= ENV['DATABASE_HOST'] %>
  username: <%= ENV['DATABASE_USERNAME'] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>

development:
  <<: *local
  database: arcanebet_development
  
test:
  <<: *local
  database: arcanebet_test

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
