%ul.list-group.navigation
  = link_to t('navigation.customer.account'),
            backoffice_customer_path(@customer),
            class: 'list-group-item list-group-item-action',
            'data-target-action': :show
  = link_to t('navigation.customer.activity'),
            activity_backoffice_customer_path(@customer),
            class: 'list-group-item list-group-item-action',
            'data-target-action': :activity
  = link_to t('navigation.customer.notes'),
            notes_backoffice_customer_path(@customer),
            class: 'list-group-item list-group-item-action',
            'data-target-action': :notes
