%table.table
  %tr
    %td
      %b= t('attributes.pending_bets_count')
    %td= filter.pending.bets_count
  %tr
    %td
      %b= t('attributes.pending_bets_amount')
    %td= filter.pending.bets_amount

