- if filter.summaries.any?
  %table.table
    - Customers::Summary::REPORT_FIELDS.each do |report_field|
      %tr
        %td
          %b= t("attributes.dashboard_report.#{report_field}")
        %td= filter.summaries.send(report_field.to_sym)
- else
  %tr
    %td
      %b= t('dashboard_report.no_data_for_date_range')
