= card header: t('dashboard_report.title', class: 'dashboard-report mb-4') do
  = render 'report/pending', filter: filter
  = render 'report/date_filter', filter: filter
  = render 'report/table', filter: filter
%br
