= card header: t(:search, subject: t('entities.customers')), class: 'customers mb-4' do
  = render 'customers/search',
          filter: filter,
          search_path: dashboard_path
  = render 'customers/table',
            filter: filter
  = paginate filter.customers, param_name: :customers_page
