= card header: t('internal.instance_overview', instance: t('internal.entities.entry_requests')),
       class: 'transactions mb-4' do
  .table-responsive
    = render 'entry_requests/table',
            filter: filter
  = paginate filter.requests, param_name: :entry_requests_page
