- content_for :css do
  = stylesheet_pack_tag 'css/dashboard'

.row
  .col-xl-6
    = render 'search_customers', filter: @customers_filter
    = render 'transactions_overview', filter: @entry_requests_filter
  .col-xl-6
    = render 'search_bets', filter: @bets_filter
