- content_for :css do
  = stylesheet_pack_tag 'css/dashboard'

.row.dashboard-content
  .col-md-6
    = render 'search_bets',
             filter: @bets_filter,
             limit: DashboardsController::BETS_LIMIT
