%table.table
  %thead
    %tr
      %th= t("kinds.#{kind}")
  %tbody.sortable{ data: { kind: kind } }
    - event_scopes.each do |event_scope|
      %tr{ data: { id: event_scope.id } }
        %td= event_scope.name
