= javascript_pack_tag 'event_scopes/components'
= stylesheet_pack_tag 'css/event_scopes'

#overlay
%h1.display-4= title.event_scopes_header
%table.table
  %tbody
    %tr#event-scopes-tr{ data: { title_id: title.id } }
